/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 4, 2017, 6:10:17 AM
    Author     : salamaashoush
*/
.button-raised{
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 14px;
    -fx-button-type: RAISED;
    -fx-background-color: rgb(77,102,204);
    -fx-text-fill: WHITE;
}
.button-raised-red{
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 14px;
    -fx-button-type: RAISED;
    -fx-background-color: rgb(192, 57, 43);
    -fx-text-fill: WHITE;
}
#pop{
    -fx-background-color:white;
    -fx-padding: 0.7em 0.57em;
    -fx-position: relative;
    -fx-border-color: #bdc3c7;
    -fx-border-width: 5px;
}
#notifypop{
    -fx-background-color:white;
    -fx-padding: 0.5em 0.5em;
    -fx-position: relative;
    -fx-border-color: #bdc3c7;
    -fx-border-width: 5px;
}
#pop .label{
      -fx-font-size: 14px;
      -fx-text-fill: #2c3e50;
      -fx-padding: 0.3em 0.3em;
}
.text-field{
    -fx-padding: 0.5em 0.5em;
    -fx-font-size: 14px;
    -fx-pref-width: 200;
}
.notification {
    -fx-pref-width: 200;
    -fx-padding: 0.3em 0.3em;
     -fx-text-fill: #27ae60;
}
.notification .content{
      -fx-background-color: #2c3e50;

  }


.label{
    -fx-font-size: 10px;
}
.labelc{
    -fx-font-size: 20px;
    -fx-padding: 0.3em 0.3em;
    -fx-width:100;
    -fx-text-align: center;
}
.labellose{
     -fx-font-size: 20px;
    -fx-text-fill: #c0392b;
    -fx-width:100;
    -fx-text-align: center;
     
}
.labelwin{
     -fx-font-size: 20px;
    -fx-text-fill: #27ae60;
    -fx-width:100;
    -fx-text-align: center;
     
}
.lblMessage{
    -fx-text-fill: red;
    -fx-font-size: 18px
}
.combo-box{
     -fx-pref-width: 200;  
}
/*.combo-box .cell{
    -fx-text-fill: whitesmoke;
}
.combo-box *{
    -fx-text-fill: whitesmoke;
}*/
.combo-box-popup > .list-view {
    -fx-pref-width: 200;
/*    -fx-control-inner-background: #262626 ;*/
}
.mylistview .scroll-bar:horizontal .track,
.mylistview .scroll-bar:vertical .track{
    -fx-background-color:transparent;
    -fx-border-color:transparent;
    -fx-background-radius: 0em;
    -fx-border-radius:2em;
}
 
.mylistview .scroll-bar:horizontal .increment-button ,
.mylistview .scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 0 10 0;
}
 
.mylistview .scroll-bar:vertical .increment-button ,
.mylistview .scroll-bar:vertical .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;
}
.mylistview  .scroll-bar .increment-arrow,
.mylistview  .scroll-bar .decrement-arrow{
    -fx-shape:" ";  
    -fx-padding:0;
}
 
.mylistview .scroll-bar:horizontal .thumb,
.mylistview .scroll-bar:vertical .thumb {
    -fx-background-color:derive(black,90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

/*.list-view {
    -fx-control-inner-background: #262626 ; 
    -fx-border-color:black ;  
    -fx-border-width: 2px ; 
}
.tile{
     -fx-background: #262626 ;
}
.scroll-pane{
    -fx-border-color:black ;  
    -fx-border-width: 2px ; 
    -fx-background: #262626 ;
}*/
/*.list-cell {
    -fx-control-inner-background:#262626 ;
    -fx-control-inner-background-alt: derive(-fx-control-inner-background, 30%);
}*/