/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 4, 2017, 6:10:17 AM
    Author     : salamaashoush
*/
.button-raised{
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 14px;
    -fx-button-type: RAISED;
    -fx-background-color: rgb(77,102,204);
    -fx-text-fill: WHITE;
     -fx-pref-width: 150;
}
.button-raised-red{
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 14px;
    -fx-button-type: RAISED;
    -fx-background-color: rgb(192, 57, 43);
    -fx-text-fill: WHITE;
     -fx-pref-width: 150;
}
.button-raised-gray{
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 14px;
    -fx-button-type: RAISED;
    -fx-background-color: rgb(44, 62, 80);
    -fx-text-fill: WHITE;
     -fx-pref-width: 150;
}
.text-field{
    -fx-padding: 0.5em 0.5em;
    -fx-font-size: 14px;
    -fx-pref-width: 200;
}
.label{
    -fx-font-size: 10px;
}
.labelc{
    -fx-font-size: 20px;
    -fx-padding: 0.3em 0.3em;
    -fx-width:100;
    -fx-text-align: center;
}
.combo-box{
     -fx-pref-width: 300;  
}

.mylistview .scroll-bar:horizontal .track,
.mylistview .scroll-bar:vertical .track{
    -fx-background-color:transparent;
    -fx-border-color:transparent;
    -fx-background-radius: 0em;
    -fx-border-radius:2em;
}
 
.mylistview .scroll-bar:horizontal .increment-button ,
.mylistview .scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 0 10 0;
}
 
.mylistview .scroll-bar:vertical .increment-button ,
.mylistview .scroll-bar:vertical .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;
}
.mylistview  .scroll-bar .increment-arrow,
.mylistview  .scroll-bar .decrement-arrow{
    -fx-shape:" ";  
    -fx-padding:0;
}
 
.mylistview .scroll-bar:horizontal .thumb,
.mylistview .scroll-bar:vertical .thumb {
    -fx-background-color:derive(black,90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}
